@model Product
<div class="jumbotron">
    <h1>@Model.ProductName</h1>
    <p>@Model.Description</p>
    <a href="/">Go Back</a>
</div>



<div class="row">
    <div class="col col-sm-6">
        <h2>Categories: @Model.Categories.Count</h2>
        @foreach (var c in Model.Categories)
        {
            <li>@c.Category.CategoryName</li>
        }
    </div>
    <div class="col col-sm-6">
        <h2>Add Categories</h2>
        <form action="/product/@Model.ProductId/category" method="post">
            <select class="form-control" name="catID">
                @{
                    List<Category> All = (List<Category>) ViewBag.AllCategories;
                    List<Category> Added = Model.Categories.Select( a => a.Category).ToList();
                    foreach(Category c in All.Except(Added))
                    {
                        <option value="@c.CategoryId">@c.CategoryName</option>
                    }
                }
            </select>
            <input type="submit" value="Add Category" class="btn btn-danger btn-sm">
        </form>
    </div>
</div>